/* bootstrap css */
@import "~bootstrap/dist/css/bootstrap.css";

/* customer css */
body{
    background-image: url('../assets/background1.jpeg');
    box-sizing: border-box;
    height: 1600px;
}
.login{
    height: 80px;
    margin-left: 35px;
    margin-top: 10px;
    
}
nav{     
    float:right;   
    margin-top: 30px;
    position: fixed;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.nav ul li{
    color: darkorange;
    display:inline-block;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 20px;
    margin-top: 70px;
    margin: 50px;

}
.background_img{
    height: 1000px;
}

.home{
    width: 1450px;
    height: 300px;
    margin-left: 15px;
    margin-top: -15px;
}

.card{
    margin-left:30px ;
    width: 1450px;  
    margin-top: 4px; 
    height: 360px;
}


.col-md-6{
    background-color: white;
    
}
.vl {
    border-left: 1px solid green;
    height: 350px;
  }

.about{
   margin-top: -25px;
   height: 600px; 
   background-color: white;
   margin-left: 30px;
   margin-right: 25px;
   

}
h3{
    font-style: italic;
    text-align: center;
}

.content{
    float: right;
}

.contact{
    margin-top: 80px;
    margin-left: 30px;
}

.contactimg{
    width: 1450px;
}

.form{
    background-color: cadetblue;
    margin-left: 40px;
    
}
input, label {
    display:block;
}

label{
    margin-left: auto;
    margin-right: auto;
}

input[type=text],[type = email],[type = number],[type=textarea]{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;      
    width:50%;
    margin-left: auto;
    margin-right: auto;     
} 

