<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ARETE</title>
  <link rel="icon" type="image/x-icon" href="favicon.png" />

  <!-- this is for the google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ9EjNlraBKdOTAvWkOwAbq3Du4RmRu7E" 
    type="text/javascript"></script>

</head>

<body>
  <!-- nav -->
  <div class="nav" id="home">
    <img src="../assets/home.jpeg" alt="home page" class="login">
    <ul>
      <a href="#home"><li>HOME</li></a>
      <a href="#about"><li>ABOUT US</li></a>
      <a href="#"><li>SERVICES AND PRODUCTS</li></a>
      <a href="#contact"><li>CONTACT US</li></a>
    </ul>
  </div>

  <!-- images on the home pages -->
  <div class="home" >
    <img src="../assets/home1.png" alt="slide image" class="home">
  </div>

    
  <!-- card section -->                
  <div class="card">     
      <div class="row">                   
          <div class="col-md-4">                 
              <h1 style="font-style: italic;color: darkmagenta;"><u>Vision</u></h1>
              <p>An empowered and prosperous community unleashing full potential
                  for equitable individual and collective development.</p>
          </div>
          <div class="vl"></div>
          <div class="col-md-4">                          
              <h1 style="font-style: italic;color: darkmagenta;"><u>Mission</u></h1>
                <p>Provide a platform and enabling environment for community members, 
                  especially youth and differently abled individuals, to develop in a holistic and sustainable manner.</p>
          </div>
          <div class="vl"></div>
          <div class="col-md-3">                          
              <h1 style="font-style: italic;color: darkmagenta;"><u>Core Values</u></h1>
                <ul>
                  <li>Excellence</li>
                  <li>Integrity</li>
                  <li>Stewardship</li>
                  <li>Faith based</li>
                  <li>Empathy</li>                    
                </ul>
          </div>
      </div>      
  </div> 

   <!-- nav -->
   <div class="nav"  id="about">
      <img src="../assets/home.jpeg" alt="home page" class="login">
      <ul>
        <a href="#home"><li>HOME</li></a>
        <a href="#about"><li>ABOUT US</li></a>
        <a href="#"><li>SERVICES AND PRODUCTS</li></a>
        <a href="#"><li>CONTACT US</li></a>
      </ul>
    </div>

  <!-- about us -->
<div class="about" >
 
    <div class="row">                   
        <div class="col-md-3">                 
            <img src="../assets/about.jpeg" alt="about us">  
        </div>

        <div class="col-md-9">
          <h3><u>About Us</u></h3>       
      <p> We recognize that Youth in any community are a critical pillar for sustainable and inclusive development agenda and that harnessing Youthful energies, intellect, talents, dreams and aspirations can positively contribute to the well-being of a society in general not to mention that of individual member thereof. 
          We are alive to the reality that the Youth and other vulnerable members of the community (Widows, Orphans, differently abled persons etc.) have to contend with a multiplicity of challenges that conspire to either limit their ability to exploit existing opportunities or even develop new options to address old problems,
          Therefore, we purpose to provide an enabling environment and a vehicle through which members of our community, youthful and otherwise, can articulate their aspirations, nurture their skills, exploit their potential, and make a positive mark in their lives, individually as well as collectively, while  positively contributing to the general well-being of the communities that sustain our livelihood options. </p>
        
          <h3><u>Strategic Approach</u></h3>
          <p>We will strive to nurture a holistic, consultative and inclusive approach to identify, design and implement programs that nurture and catalyze improvements in the skills and abilities of community members, especially the youth and differently abled members of the community, to participate in and contribute, in a positive manner, to their socio-economic well-being while sustainably managing their environment.</p>
        
          <h3><u>Objectives</u></h3>
          <p>The objectives of this organization include:</p>
          <ul>
            <li> To contribute to economic empowerment of members and the community at large through promotion of income generation activities (IGAs) and programs.    </li>
          <li>To support, nurture and strengthen skills, talent and entrepreneurship among community members, especially youth and differently abled.</li>
          <li>To design and implement programs that address various Economic, Social, Cultural, and Environmental challenges faced by young people and our community at large</li>
          <li>To promote a philosophy of giving back to our community and society through voluntary work and other avenues.</li>
          </ul>
        </div>
    </div>
</div>
  

<!-- contact us -->
<div class="nav"  id="contact">
  <img src="../assets/home.jpeg" alt="home page" class="login">
  <ul>
    <a href="#home"><li>HOME</li></a>
    <a href="#about"><li>ABOUT US</li></a>
    <a href="#"><li>SERVICES AND PRODUCTS</li></a>
    <a href="#"><li>CONTACT US</li></a>
  </ul>
</div>

<div class="contact">
  <div class="row">                  
    <div class="col-md-6">
      <div class="form">
      <form action="">
        <h3>We are value our suggestion or feedback</h3>
        <label for="first"><b>First Name</b></label>
        <input type="text"  name="first" required>

        <label for="last"><b>Last Name</b></label>
        <input type="text" name="last" required>

        <label for="email"><b>Email Address</b></label>
        <input type="email" name="email" required>

        <label for="tel"><b>Phone Number</b></label>
        <input type="number" name="tel" required>

        <label for="message"><b>Message</b></label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">      

      </form>

    </div>
    </div>

    <!-- form  -->
    <div class="col-md-6">  
      
        <img src="../assets/contact2.jpeg" alt="contact" class="contacttop">

        <div class="contactdetails">
          <h2 class="title-header">Contacts </h2>
        <ul class="about-list">
            <li><strong> Mary Wairimu Kuria</strong><br>
                MANAGING DIRECTOR
                <p>wairimukuriakm@gmail.com </p>
                <p> Cell: +254 720 355380</p>
            </li>
        </ul>
        <ul class="about-list">
            <li> <strong> Location </strong>
                <p> xxx BUILDING </p>
                <p> Next to Cooperative Bank in Limuru</p>
                <p>Cell: + 254 </p>
            </li>
            

        </ul>
    
        </div>

        
    </div>

</div>
</div>



</body>

</html>